.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(270deg, #860000, #013a6b);

    @media screen and (min-width: 1080px) {
        height: 100%;
    }
}

.account-panel {
    color: white;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}
.account-panel .nav {
    font-size: 0.75em;
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75em;
    padding: 0 0.5em;
    border-radius: 100px;
    background-color: #0000007a;

    a {
        text-decoration: none;
        color: white;
    }
}

.heading.active {
    background-color: #4141417a;
    border-radius: 100px;
    font-weight: 700;
}
.heading {
    font-weight: 400;
    text-decoration: none;
    padding: 0.6em 1em;
    margin: 0.5em;
}
.heading:hover {
    opacity: 80%;
}

.headingText {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.form {
    width: 70%;
    max-width: 350px;
}

.form-title {
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.3em;
    svg {
        font-size: 1em;
    }
}

.form-item {
    margin-bottom: 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-item input {
    width: 100%;
    font-size: 0.75em;
    font-family: inherit;
    padding: 10px 15px;
    border: 0.1px solid #2a2a2a;
    border-radius: 10px;
    background-color: #333333;
    color: white;
    box-sizing: border-box;

    @media screen and (min-width: 740px) {
        padding: 15px;
    }
    @media screen and (min-width: 1080px) {
        padding: 20px;
    }
}
.link {
    color: #4f90f8;
    cursor: pointer;
}
.subtitle {
    font-size: 0.85em;
    font-family: Roboto;
}

.account-panel button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    appearance: button;
    align-self: center;
    -webkit-tap-highlight-color: transparent;

    @media screen and (min-width: 740px) {
        padding: 15px;
    }
}

.account-panel button:hover {
    color: #dbdbdb;
}

.account-panel .red {
    background: #900000;
}
.account-panel .red:hover {
    background: #780000;
}

.account-panel .green {
    background: green;
}
.account-panel .green:hover {
    background: #006c00;
}

.account-panel .blue {
    background: #008cd2;
}
.account-panel .blue:hover {
    background: #006da3;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #aaa;
    font-size: 0.85em;
    margin: 1.5em 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #aaa;
}

.divider::before {
    margin-right: 0.75em;
}

.divider::after {
    margin-left: 0.75em;
}

.google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 0;
    background-color: white !important;
    color: black !important;
}

.google:hover {
    background-color: #dad9d9 !important;
    color: black !important;
}

.google .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google .icon {
    width: 22px;
    height: 22px;
    display: block;
}
