.premium-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #0000007a;
    border: solid 1px #21212179;
    border-radius: 20px;
    padding: 1.5em;
    background-size: 30px 30px;
    background-position: -5px 2px;
    @media screen and (max-width: 540px) {
        padding: 1em;
    }
    button {
        transition: all 0.3s;
    }
    button:hover {
        color: black;
    }
    background-color: black;
}

.premium-card {
    width: 80%;
    padding: 1.5em;
    border-radius: 5px;
    @media screen and (max-width: 540px) {
        padding: 1.5em 0em;
        width: 85%;
    }
}

.premium-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.5em;
    @media screen and (max-width: 540px) {
        font-size: 1.2em;
    }
}

.premium-subtitle {
    margin-bottom: 20px;
    font-size: 1.25em;
}

.premium-description {
    font-size: 0.95em;
    margin-bottom: 2em;
    font-weight: 500;
}

.premium-pricing {
    font-size: 0.95em;
    margin-bottom: 1.5em;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.premium-note {
    margin-top: 10px;
    font-size: 0.75em;
    color: #888888;

    a {
        text-decoration: none;
    }
}
