.reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000007a;
    border: solid 1px #21212179;
    border-radius: 20px;
    padding: 5.5em 0;
}

.reset-caption {
    margin-bottom: 1.5em;
    color: darkgray;
}
