.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92%;
    width: 100%;
    max-height: -webkit-fill-available;
    overflow-y: scroll;

    background: linear-gradient(270deg, #860000, #013a6b);

    @media screen and (min-width: 1080px) {
        height: 100%;
    }
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0.25em;
        margin-bottom: 0.5em;
        font-family: Bebas Neue, Roboto, Arial, Helvetica, sans-serif;
        font-size: 4em;

        img {
            margin-top: -12px;
            width: 1.25em;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0.5em;
        width: 100%;
        @media screen and (min-width: 1080px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (min-width: 1440px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .versus {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #0000007a;
            border-radius: 16px;
            width: 90%;
            padding: 1em;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
            .category {
                font-family: Bebas Neue, Roboto, Arial, sans-serif;
                font-size: 1.5em;
                font-weight: 700;
                margin-bottom: 0.5em;
            }
            .panel {
                border-radius: 16px;
                display: flex;
                width: 100%;
                border-radius: 16px;
                overflow: hidden;

                .player {
                    position: relative;
                    width: 50%;
                    overflow: hidden;
                    transition: all 1s ease-in-out;
                    .name {
                        font-family: Roboto Condensed, Roboto, Arial;
                        font-size: 1.1em;
                        font-weight: 700;
                        padding-top: 1em;
                        padding-bottom: 0.5em;
                        white-space: nowrap;
                    }
                    .votes {
                        margin-bottom: 0.5em;
                        font-size: 1.2em;
                        font-family: Roboto Condensed, Roboto, Arial;
                    }
                    .name,
                    .votes,
                    .image {
                        position: relative;
                        z-index: 2;
                    }
                    .image {
                        img {
                            vertical-align: bottom;
                            width: 25vw;
                            @media screen and (min-width: 1080px) {
                                width: 12vw;
                            }
                            @media screen and (min-width: 1440px) {
                                width: 8vw;
                            }
                        }
                    }
                    .logoBG {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        height: 200%;
                        opacity: 0.1;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}
