.user-container {
    color: white;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 740px;
    padding: 20px;

    #active {
        border-bottom: 1px solid white;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 1em;
    }

    .heading {
        font-weight: 700;
        margin-top: 1em;
        padding: 10px 20px;
        transition: all 0.3s;
    }
    .heading:active {
        scale: 0.95;
    }

    .headingText {
        cursor: pointer;
    }

    .form {
        width: 70%;
        height: 100%;
    }

    .form-title {
        font-size: 1.5em;
        font-weight: 700;
        padding: 10px 20px;
        margin-bottom: 0.5em;
        display: flex;
        align-items: center;
        svg {
            font-size: 1em;
            margin-right: 0.2em;
        }
    }

    .form-item {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;

        input {
            width: 100%;
            font-size: 0.75em;
            font-family: inherit;
            padding: 10px 15px;
            border: 0.1px solid #2a2a2a;
            border-radius: 5px;
            background-color: #333333;
            color: white;

            @media screen and (min-width: 740px) {
                padding: 15px;
            }
            @media screen and (min-width: 1080px) {
                padding: 20px;
            }
        }
    }
    .divider {
        border: solid 0.5px grey;
        margin: 1em;
    }
}

.user-container button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    appearance: button;
    align-self: center;

    @media screen and (min-width: 740px) {
        padding: 15px;
    }
}

.user-container button:hover {
    color: #dbdbdb;
}

.user-container .red {
    background: #900000;
}
.user-container .red:hover {
    background: #780000;
}

.user-container .green {
    background: green;
}
.user-container .green:hover {
    background: #006c00;
}

.user-container .blue {
    background: #008cd2;
}
.user-container .blue:hover {
    background: #006da3;
}
