.App {
    text-align: center;
    font-family: Roboto, Arial;
    color: white;
    background-color: black;
    overflow: hidden;
    transition: all 0.3s;
    user-select: none;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
img,
svg {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    transition: all 0.3s;
    font: inherit;
}
button:active {
    scale: 0.975;
}

@media screen and (min-width: 540px) {
    .App {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1080px) {
    .App {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 2160px) {
    .App {
        font-size: 1.4rem;
    }
}

.my-toast {
    color: #fff !important;
    font-size: 0.9em;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.progress-stepper {
    position: absolute;
    bottom: 12%;
    left: 1.5em;
    z-index: 2;
    height: 3em;
    width: 3em;
}

@media screen and (min-width: 1080px) {
    .progress-stepper {
        left: calc(12% + 1.5em);
        bottom: 5%;
    }
}

.shimmerBG {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.005) 8%,
        /* Subtle shimmer start */ rgba(255, 255, 255, 0.06) 18%,
        /* Darker shimmer stripe */ rgba(255, 255, 255, 0.005) 33%
            /* Subtle shimmer end */
    );
    background-size: 1200px 100%;
    background-color: transparent; /* Ensure it overlays the panel's background */
    position: relative; /* Required for proper overlay */
    overflow: hidden; /* Ensure it doesn't exceed panel boundaries */
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

/* Animations */

.tilt-in-fwd-tr {
    -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-27 8:51:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg)
            translate(300px, -300px) skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
            skew(-35deg, 10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0)
            skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}
@keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg)
            translate(300px, -300px) skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
            skew(-35deg, 10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0)
            skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

.tilt-in-fwd-bl {
    -webkit-animation: tilt-in-fwd-bl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: tilt-in-fwd-bl 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-27 9:2:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-bl
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-bl {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(-35deg)
            translate(-300px, 300px) skew(-35deg, 10deg);
        transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px)
            skew(-35deg, 10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0)
            skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}
@keyframes tilt-in-fwd-bl {
    0% {
        -webkit-transform: rotateY(-20deg) rotateX(-35deg)
            translate(-300px, 300px) skew(-35deg, 10deg);
        transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px)
            skew(-35deg, 10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0)
            skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}
.shake-horizontal {
    -webkit-animation: shake-horizontal 0.8s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-27 9:32:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}
.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-27 19:9:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-28 3:16:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.puff-in-center {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
        both;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-11-22 14:0:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.sparkle-button {
    --active: 1;
    --bg: radial-gradient(
            40% 50% at center 100%,
            hsl(47 calc(var(--active) * 97%) 72% / var(--active)),
            transparent
        ),
        radial-gradient(
            80% 100% at center 120%,
            hsl(43 calc(var(--active) * 97%) 70% / var(--active)),
            transparent
        ),
        hsl(43 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
    background: var(--bg) !important;
    font-size: 1.2rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    white-space: nowrap;
    border-radius: 5px;
    position: relative;

    transition: box-shadow var(--transition), scale var(--transition),
        background var(--transition);
    scale: 1;
    transition: 0.3s;
}

.sparkle-button:active {
    scale: 0.975;
    transition: 0.3s;
    animation: bounce;
    box-shadow: 0 0 calc(var(--active) * 7em) calc(var(--active) * 0.1em)
            hsl(43 97% 61% / 0.75),
        0 0em 0 0
            hsl(43 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%))
            inset,
        0 -0.05em 0 0 hsl(
                43 calc(var(--active) * 97%) calc(var(--active) * 60%)
            ) inset;
}
.sparkle-button:hover {
    transition: 0.3s;
    box-shadow: 0 0 calc(var(--active) * 7em) calc(var(--active) * 0.1em)
            hsl(43 97% 61% / 0.75),
        0 0em 0 0
            hsl(43 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%))
            inset,
        0 -0.05em 0 0 hsl(
                43 calc(var(--active) * 97%) calc(var(--active) * 60%)
            ) inset;
}

.sparkle path {
    color: white;
    transform-box: fill-box;
    transform-origin: center;
    fill: currentColor;
    stroke: currentColor;
    animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
    animation-duration: 0.6s;
    transition: color var(--transition);
}

.sparkle-button:is(:hover, :focus-visible) path {
    animation-name: bounce;
}

@keyframes bounce {
    35%,
    65% {
        scale: var(--scale);
    }
}

.sparkle path:nth-of-type(1) {
    --scale: 0.5;
    --delay: 0.1;
    --base: 40%;
}

.sparkle path:nth-of-type(2) {
    --scale: 1.5;
    --delay: 0.2;
    --base: 20%;
}

.sparkle path:nth-of-type(3) {
    --scale: 2.5;
    --delay: 0.35;
    --base: 30%;
}

.sparkle-button:before {
    content: "";
    position: absolute;
    inset: -0.2em;
    z-index: -1;
    border-radius: 5px;
    opacity: var(--active, 0);
    transition: opacity var(--transition);
}

.spark {
    position: absolute;
    inset: 0;
    border-radius: 5px;
    rotate: 0deg;
    overflow: hidden;
    mask: linear-gradient(white, transparent 50%);
    animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
    to {
        rotate: 360deg;
    }
}

.spark:before {
    content: "";
    position: absolute;
    width: 200%;
    aspect-ratio: 1;
    top: 0%;
    left: 50%;
    z-index: -1;
    translate: -50% -15%;
    rotate: 0;
    transform: rotate(-90deg);
    opacity: calc((var(--active)) + 0.4);
    background: conic-gradient(from 0deg, transparent 0 340deg, white 360deg);
    transition: opacity var(--transition);
    animation: rotate var(--spark) linear infinite both;
}

.spark:after {
    content: "";
    position: absolute;
    inset: var(--cut);
    border-radius: 100px;
}

.backdrop {
    position: absolute;
    inset: var(--cut);
    background: var(--bg);
    border-radius: 100px;
    transition: background var(--transition);
}

@keyframes rotate {
    to {
        transform: rotate(90deg);
    }
}

@supports (selector(:has(:is(+ *)))) {
    body:has(button:is(:hover, :focus-visible)) {
        --active: 1;
        --play-state: running;
    }

    .bodydrop {
        display: none;
    }
}

.sparkle-button:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
    --active: 1;
    --play-state: runnin;
}

.sparkle-button:is(:hover, :focus-visible) {
    --active: 1;
    --play-state: running;
}

.sp {
    position: relative;
}

.particle-pen {
    position: absolute;
    width: 200%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    -webkit-mask: radial-gradient(white, transparent 65%);
    z-index: -1;
    opacity: var(--active, 0);
    transition: opacity var(--transition);
}

.particle {
    fill: white;
    width: calc(var(--size, 0.25) * 1rem);
    aspect-ratio: 1;
    position: absolute;
    top: calc(var(--y) * 1%);
    left: calc(var(--x) * 1%);
    opacity: var(--alpha, 1);
    animation: float-out calc(var(--duration, 1) * 1s) calc(var(--delay) * -1s)
        infinite linear;
    transform-origin: var(--origin-x, 1000%) var(--origin-y, 1000%);
    z-index: -1;
    animation-play-state: var(--play-state, paused);
}

.particle path {
    fill: hsl(0 0% 90%);
    stroke: none;
}

.particle:nth-of-type(even) {
    animation-direction: reverse;
}

@keyframes float-out {
    to {
        rotate: 360deg;
    }
}

.text {
    letter-spacing: 0.01ch;
    color: white !important;
    -webkit-background-clip: text;
    color: transparent;
    transition: background var(--transition);
}

.sparkle-button svg {
    inline-size: 1.25em;
    translate: -25% -5%;
}

.btn-shine {
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: -200;
    background-size: 400px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
}
@-moz-keyframes shine {
    0% {
        background-position: -200;
    }
    100% {
        background-position: 200px;
    }
}
@-webkit-keyframes shine {
    0% {
        background-position: -200;
    }
    100% {
        background-position: 200px;
    }
}
@-o-keyframes shine {
    0% {
        background-position: -200;
    }
    100% {
        background-position: 200px;
    }
}
@keyframes shine {
    0% {
        background-position: -200px;
    }
    100% {
        background-position: 200px;
    }
}

.spinner {
    margin-left: 8px;
    width: 0.65em;
    height: 0.65em;
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
