.App {
  text-align: center;
  font-family: Roboto, Arial;
  color: white;
  overflow: hidden;

}
@media screen and (min-width: 540px) {
  .App{
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 740px) {
  .App{
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1080px) {
  .App{
    font-size: 1.8rem;
  }
}

